<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/output.css" rel="stylesheet" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('partials/header', {user: user}) %>

    <div class="flex min-h-screen items-center justify-center bg-base-100">
      <div class="card my-8 w-full max-w-2xl bg-base-300 shadow-2xl">
        <div class="card-body">
          <div>
            <h1 class="card-title text-center">Contact Support</h1>
            <p class="pt-4">
              If you have any questions or concerns, please feel free to contact
              us using the form below. We will get back to you as soon as
              possible.
            </p>
          </div>
          <form method="POST" action="/register" class="pt-8">
            <div class="form-control">
              <label class="label" for="first-name">
                <span class="label-text">First Name</span>
              </label>
              <input
                type="text"
                id="first-name"
                name="firstName"
                placeholder="Your first name"
                class="input input-bordered"
                required
              />
            </div>
            <div class="form-control">
              <label class="label" for="last-name">
                <span class="label-text">Last Name</span>
              </label>
              <input
                type="text"
                id="last-name"
                name="lastName"
                placeholder="Your last name"
                class="input input-bordered"
                required
              />
            </div>
            <div class="form-control">
              <label class="label" for="company">
                <span class="label-text">Company (Optional)</span>
              </label>
              <input
                type="text"
                id="company"
                name="company"
                placeholder="Your company"
                class="input input-bordered"
              />
            </div>
            <div class="form-control">
              <label class="label" for="email">
                <span class="label-text">Email Address</span>
              </label>
              <input
                type="email"
                id="email"
                name="email"
                placeholder="Your email"
                class="input input-bordered"
                required
              />
            </div>
            <div class="form-control">
              <label class="label" for="phone">
                <span class="label-text">Phone Number</span>
              </label>
              <input
                type="tel"
                id="phone"
                name="phone"
                placeholder="Your phone number"
                class="input input-bordered"
              />
            </div>
            <div class="form-control">
              <label class="label" for="message">
                <span class="label-text">Message</span>
              </label>
              <textarea
                id="message"
                name="message"
                placeholder="Your message here"
                class="textarea textarea-bordered"
                required
              ></textarea>
            </div>
            <div class="form-control flex items-center pt-4">
              <label class="label flex cursor-pointer items-center">
                <input type="checkbox" class="toggle toggle-primary" checked />
                <span class="label-text ml-2"
                  >By selecting this, you agree to our privacy policy.</span
                >
              </label>
            </div>

            <div class="form-control mt-6">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <%- include('partials/footer') %>
  </body>
</html>
