<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/output.css" rel="stylesheet" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('partials/header', {user: user}) %>

    <div class="flex justify-center">
      <div class="flex max-w-5xl bg-base-200 text-base-content">
        <div class="container mx-auto px-4 py-8">
          <h1 class="mb-4 text-center text-3xl font-bold">
            NovaBlog Terms of Service
          </h1>

          <h2 class="mb-2 mt-6 text-2xl font-semibold">Agreement</h2>
          <p>
            By using NovaBlog, you agree to these Terms of Service. We reserve
            the right to update them, and you should review them periodically.
            Your continued use of the website signifies acceptance of any
            changes.
          </p>

          <h2 class="mb-2 mt-6 text-2xl font-semibold">User Accounts</h2>
          <ul class="list-disc space-y-2 pl-5">
            <li>You must be at least 18 years old to create an account.</li>
            <li>
              You are responsible for maintaining the security of your account
              and password.
            </li>
            <li>You may not share your account with others.</li>
          </ul>

          <h2 class="mb-2 mt-6 text-2xl font-semibold">User Content</h2>
          <ul class="list-disc space-y-2 pl-5">
            <li>You retain ownership of the images and text you post.</li>
            <li>
              By posting content, you grant us a non-exclusive license to
              display it publicly on our website.
            </li>
            <li>
              You are responsible for ensuring your content doesn't violate
              copyright or any other laws.
            </li>
            <li>
              We reserve the right to remove content that violates these Terms,
              is offensive, or for any other reason, at our discretion.
            </li>
          </ul>

          <h2 class="mb-2 mt-6 text-2xl font-semibold">Prohibited Conduct</h2>
          <p>You agree not to use the website to:</p>
          <ul class="list-disc space-y-2 pl-5">
            <li>Upload or distribute harmful content (viruses, malware).</li>
            <li>Harass, bully, or threaten other users.</li>
            <li>Post hate speech or discriminatory content.</li>
            <li>Violate intellectual property rights.</li>
            <li>Spam or engage in unauthorized commercial activity.</li>
          </ul>

          <h2 class="mb-2 mt-6 text-2xl font-semibold">Termination</h2>
          <p>
            We reserve the right to terminate or suspend your account at any
            time for violating these Terms or for any other reason.
          </p>

          <h2 class="mb-2 mt-6 text-2xl font-semibold">
            Disclaimer of Warranties
          </h2>
          <p>
            NovaBlog is provided on an "as is" basis. We make no guarantees
            about its reliability, uptime, or security.
          </p>

          <h2 class="mb-2 mt-6 text-2xl font-semibold">
            Limitation of Liability
          </h2>
          <p>
            You agree that we are not liable for any damages arising from your
            use of the website, including lost data, profits, or any other
            indirect or consequential damages.
          </p>

          <h2 class="mb-2 mt-6 text-2xl font-semibold">Governing Law</h2>
          <p>These terms are governed by the laws of Canada.</p>

          <h2 class="mb-2 mt-6 text-2xl font-semibold">Contact Us</h2>
          <p>
            If you have any questions regarding our Terms of Service, please
            contact us at test@test.test.
          </p>
        </div>
      </div>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
