<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/css/output.css" rel="stylesheet" />
  </head>
  <body>
    <footer
      class="footer footer-center p-10 bg-base-200 text-base-content rounded"
    >
      <nav class="grid grid-flow-col gap-4">
        <a href="about%20us" class="link link-hover">About us</a>
        <a href="support" class="link link-hover">Support</a>
        <a href="privacy%20policy" class="link link-hover">Privacy Policy</a>
        <a href="terms%20of%20service" class="link link-hover"
          >Terms of Service</a
        >
      </nav>
      <aside>
        <p>Copyright © 2024 - All right reserved by NovaBlog</p>
      </aside>
    </footer>
  </body>
</html>
