<footer class="footer footer-center rounded bg-base-200 p-10 text-base-content">
  <nav class="grid grid-flow-col gap-4">
    <a href="about%20us" class="link-hover link">About us</a>
    <a href="support" class="link-hover link">Support</a>
    <a href="privacy%20policy" class="link-hover link">Privacy Policy</a>
    <a href="terms%20of%20service" class="link-hover link">Terms of Service</a>
  </nav>
  <aside>
    <p>Copyright © 2024 - All right reserved by NovaBlog</p>
  </aside>
</footer>
